doctype html

html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link( rel='stylesheet' href='css/style.css' )
    title Test
    
  body
    header
      nav.main-menu
        ul.top-menu
          li.top-menu-item
            a Menu Item
            
          li.top-menu-item
            a Menu Item
            
          li.top-menu-item
            a Menu Item
            
            ul.sub-menu
              li.sub-menu-item
                a Sub Menu Item
                
              li.sub-menu-item
                a Sub Menu Item
                
              li.sub-menu-item
                a Sub Menu Item
              
              
                
          li.top-menu-item
            a Menu Item
            
          li.top-menu-item
            a Menu Item
    
    
    
    
    section
      
    footer
    
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(src='js/all.js')
